<div>
	<div>
		<h3>{{popUps.name}}</h3>
		<h4>{{popUps.cuisine}}</h4>
		<p>{{popUps.location}}, {{popUps.hours}}</p>
	</div>
		<div>
		 	<div>
				<a href="/popUps" class="btn btn-default">Home Page</a>
				<a href="/popUps/{{popUps.id}}/edit" class="btn btn-primary">Edit {{popUps.name}}</a>
				<form action="/popUps/{{popUps.id}}?_method=DELETE" method="POST">
			    <input type="submit" value="DELETE" class="btn btn-danger" />
				</form>	
				<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">

<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
			</div>
		</div>
		
</div>
