<h1>Edit {{user.firstname}}'s Profile</h1>
<form action="/users/{{user.id}}?_method=PATCH" method="POST">
  <div>
    <label for="firstname">What's your name?</label>
    <input type="text" value="{{user.firstname}}" name="firstname">
  </div>
  <div>
    <label for="username">Create a username</label>
    <input type="text" value="{{user.username}}" name="username">
  </div>
  <div class="#">
    <label for="password">Password...make it good</label>
    <input type="text" value="{{user.password}}" name="password">
  </div>
  <input type="submit" value="Submit">
</form>

<div>
  <a href="/" class="btn btn-default">Back to Home</a>
</div>